/* 共通設定 */
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
body{
    margin: 50px auto;
    padding: 0 150px;
    width: 40%;
    background: #fbfbfa;
color: white;
}
h1{ color: white; font-size: 20px; text-align: center;}
h2{ color: white; font-size: 16px; text-align: center;}
form{
    overflow: hidden;
}
input[type="text"]{
    color: #545454;
    height: 60px;
    width: 100%;
    padding: 5px 10px;
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
    box-sizing: border-box;
}
input[type="password"]{
    color: #545454;
    height: 60px;
    width: 100%;
    padding: 5px 10px;
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
    box-sizing: border-box;
}
input[type="submit"]{
    border: none;
    padding: 15px 30px;
    margin-bottom: 15px;
    background: black;
    color: white;
    float: right;
}
input[type="submit"]:hover{
    background: #3d3938;
    cursor: pointer;
}
a{
    color: #545454;
    display: block;
}
a:hover{
    text-decoration: none;
}


/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
.title{
    text-align:center; 
    color:#333;
}
.wrap{
    background:black; 
    padding:15px; 
    position: relative;
}
.start{
    margin-top: 60px;
}
.name-monster{
    height: 170px;
}
.name-monster img{
    width:120px; 
    height:auto;
    margin:40px auto 0 auto; 
    display:block;
}
.hp-monster{
    font-size:14px; 
    text-align:left;
}

.history{
    position:absolute; 
    right:-350px; 
    top:0; 
    color:black; 
    width: 300px;
}